canvas{
    border: 1px solid black;
    animation-name: my_animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes my_animation{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px yellow;}
}

html{
    background-color: pink;
}